<!-- <app-navbar></app-navbar> -->
<!-- <p> {{'teste de pipe para transformar a primeira letra de cada palavra em maiúscula.' | captalizePhillips}}</p> -->
<!-- <app-fotos></app-fotos> -->
<!-- <app-modal>
  <h1 class="titulo">Example modal</h1>
  <p class="descricao">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Error minima
    libero veniam, modi corrupti doloremque repellendus vitae mollitia. Ipsum
    voluptatibus ea ab quos molestiae at expedita maiores dolore a corrupti!
  </p>
</app-modal> -->
<!-- <app-input></app-input> -->
<app-exer8></app-exer8>
