<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <span class="navbar-brand">PETSHOP</span>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" *ngFor="let item of lista_links, let i = index">
          <a class="nav-link" (click)="setPage(item)">{{item}}</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<div [ngSwitch]="page">
  <h2 *ngSwitchCase="'Home'">Estou na página de Home</h2>
  <h2 *ngSwitchCase="'Preços'">Estou na página de Preços</h2>
  <h2 *ngSwitchCase="'Informações'">Estou na página de Informações</h2>
</div>
